/* Body-has the same font throughout and same colour throughout 
h1-the only text that is different to make it obvious that it is a header*/
body{
    background-color:#EEA47FFF;
    color:#00539CFF;
    font-family:  'Didact Gothic', sans-serif;
    font-weight: bold; 
}

h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 4rem;
}

/* main-game is contained within the middle 85% of the screen and contains divs directly related to any buttons, images 
or text */
.main-game{
    box-sizing: border-box;
    width: 85%;
    height: 1vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* container for difficulty levels */
.play-container{
  text-align:center;
}

/* container for images */
.image-container{
    display: flex;
    justify-content: center;
    height: 22vh;
    margin-top: 20px;
}

/* the image pair is in the center */
#img1, #img2{
    margin: 1%;
    width:50%;
}

/* All difficulty buttons look the same ...*/
.diff{
    border: 0.5rem solid;
    margin:0 10px 0 10px;
    border-radius: 45%;
    width:30%;
    padding: 3rem 0 3rem 0;
    font-size:200%;
    color: #EEA47FFF;
    background-color: #00539CFF;
}

/*...unless the user hovers, the background color changes depending on difficulty level*/
.diff:hover{
    color:#00539CFF;
    font-weight: bold;
}

.diff-easy:hover{
    background-color:rgb(236, 111, 111);
}

.diff-difficult:hover{
    background-color:rgb(226, 125, 75);
}

.diff-impossible:hover{
    background-color:rgb(202, 92, 41);
}

/* answer-area contains the identical/not identical buttons. Hover to change colors */
.answer-area{
    text-align: center;
    margin:10px 30px 0 30px;
}

.idn-btn{  
    border: 0;
    margin:0 10px 10px 10px;
    border-radius: 45%;
    width:30%;
    padding: 3rem 0 3rem 0;
    font-size:200%;
    color: white;
}

.idn-btn:hover{
    outline: 0.3rem solid;
}

.identical{
    background-color:#228B22 ;
}

.notidentical{
    background-color: #880808;
}

.identical:hover{
    border-color:#00539CFF;
    color:#00539CFF;
    background-color: #EEA47FFF;
}

.notidentical:hover{
    border-color:#00539CFF;
    color:#00539CFF;
    background-color: #EEA47FFF;
}
/* question and instruction are both text so remain with same view */
.question{
    text-align: center;
    font-size:2rem;
}
.instruction{
    text-align: center;
    font-size:2rem;
}
/* colours are reversed for score contrast */
.score-container{
    text-align: center;
    font-size:2rem;
    color:#EEA47FFF;
    background-color: #00539CFF;
}
#ext-web{
    text-align: center;
    font-size: 1.5rem;
}

#ext-web> a{
 color: inherit;
 
}

/* media queries for 700px, 420px,360px */
@media screen and (max-width:700px){
    h1{
        font-size: 3rem;
    }

    .diff{
        font-size:100%;
    }

    .diff:hover{
        border: 5px solid #00539CFF;
        color:#00539CFF;
        font-weight: normal;
    }

    .idn-btn{
        font-size: 100%;
    }
}

@media screen and (max-width:420px){
    .diff-impossible{
        font-size:90%;
    }
    #img1, #img2{
        width:50%;
    }
}

@media screen and (max-width:360px){
    h1{
        font-size: 2rem;
    }
    .diff-impossible{
        font-size:80%;
    }
    .idn-btn{
        font-size: 80%;
    }
    .question{
        font-size:1rem;
    }
    .instruction{
        font-size:1rem;
    }
    
}

